body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f0f0f0; 
}

canvas {
    display: block;
}

#restartBtn {
    font-size: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    position: absolute;
   top: 500px;
   left: 900px;
}

#restartBtn:hover {
    background-color: #45a049;
}
